#index_main_div.container
	.text-center
		.h1{'style':'font-size:26px;font-weight: 800;'}
			Explore What's Happeing Inside Campuses

	.margin
	.margin
	.text-center
		.form-group
			%label See Whats Hapening outside your Campus
			%select.form-control{'id':'Campuses','data-campus': "#{@campus}"}
				%option  Jaipur
				%option Noida
				%option Lucknow
				%option Mumbai
				%option Gurgaon
				%option Raipur
				%option Kolkata
				%option Greater Noida
				%option Ranchi
				%option Ahmedabad
				%option Chenai
				%option Chandigarh
				%option Banglore
				%option Gwalior
				%option Bhubaeswar
				%option Hydrabad
				%option indore
				%option Kochi
				%option Patna
				%option Pune
				%hr
				%option Dubai
				%option Lodon
				%option Mauritius
				%option Abu Dhabi
				%option Singapore
				%option South Africa
				%option Romania
				%option China

		%btn.btn.btn-primary{'id':'campusbtn'} Search


	.margin
	.margin
	.h2.text-center= @campus
	.margin
	.margin
	.explorehead.text-center
		= image_tag 'events.jpg' , class: 'eventlogo shadow'
		.lead.grey
			TRENDING EVENTS 
	%hr.grey
	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head POPULAR EVENTS
		.panel-body
			.events.row
				.mainevent.col-sm-6
					- if @mainevent != nil
						%table
							%tr
								%td
									= image_tag @mainevent.event_themepic , class: 'thumbnail mainpic'
									%hr
							%tr
								%td{'style':'font-size:18px;font-weight: 800;'} 
									= link_to @mainevent.eventtheme , @mainevent 
							%tr
								%td
									%small=link_to " "+@mainevent.start.strftime("%A").to_s+", "+@mainevent.start.strftime("%d.%B").to_s 
							%tr
								%td
									= link_to @mainevent.department
					-else
						%p show any random event in previous 7 days
				.commingevent.col-sm-6
					-@moreevent.each do |e|
						%table.col-sm-6
							%tr
								%td
									= image_tag e.event_themepic , class: 'thumbnail'
							%tr
								%td
									= link_to e.eventtheme , e
							%tr
								%td
									%small=link_to " "+e.start.strftime("%A").to_s+", "+e.start.strftime("%d.%B").to_s 
							%tr
								%td
									= link_to e.department

	#moreevent
		.scrollmenu.shadow
			.top_sug_layer.clearfix
				.left{'style':'font-size:16px;font-weight: 800;'} 
					Upcomming Events
			%hr
			.sugdiv.clearfix
				
				-@upcommingevent.each do |sug|
					=#change this to something else
					#single_suggestion2.shadow
						%table
							%tbody
								%tr
									%td
										.text-center=image_tag sug.event_themepic , class: 'img-rounded'
								%tr
									%td{'style':'height:10px;'}
								%tr
									%td
										.text-center=link_to sug.eventtheme , sug , 'style':' font-weight: 600;'
								%tr
									%td
										%small.grey
											.text-center= 'Host: '+sug.amitian.fullname
								%tr
									%td{'style':'height:10px;'}

								%tr
									%td.text-center
										= render 'events/invite_form' , event: sug

	.margin
	.explorehead.text-center
		= image_tag 'Club.ico' , class: 'eventlogo'
		.lead.grey
			TRENDING CLUBS
	%hr.grey

	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head POPULAR CLUBS
		.panel-body
			.events.row
				.mainevent.col-sm-6
					- if @mainclub != nil
						%table
							%tr
								%td
									= image_tag @mainclub.club_themepic , class: 'thumbnail mainpic'
									%hr
							%tr
								%td{'style':'font-size:18px;font-weight: 800;'} 
									= link_to @mainclub.clubname , @mainclub 
							%tr
								%td
									%small=link_to " something here "
							%tr
								%td
									= link_to @mainclub.niche
					-else
						%p show any random event in previous 7 days
				.commingevent.col-sm-6
					-@moreclub.each do |e|
						%table.col-sm-6
							%tr
								%td
									= image_tag e.club_themepic , class: 'thumbnail'
							%tr
								%td
									= link_to e.clubname , e
							%tr
								%td
									%small=link_to "something something "
							%tr
								%td
									= link_to e.niche
	#moreclubs
		.scrollmenu.shadow
			.top_sug_layer.clearfix
				.left{'style':'font-size:16px;font-weight: 800;'} 
					Recomended Clubs
			%hr
			.sugdiv.clearfix				
				-@sugclub.each do |sug|
					=#change this to something else
					#single_suggestion2.shadow
						%table
							%tbody
								%tr
									%td
										.text-center=image_tag sug.club_themepic , class: 'img-rounded'
								%tr
									%td{'style':'height:10px;'}
								%tr
									%td
										.text-center=link_to sug.clubname , sug , 'style':' font-weight: 600;'
								%tr
									%td
										%small.grey
											.text-center= 'Host: '+sug.amitian.fullname
								%tr
									%td{'style':'height:10px;'}

								%tr
									%td.text-center
	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head Trending Confessions
		.panel-body
			.topconfessions
				-@topconfessions.each do |tc|
					.singletopconfession.col-sm-3.shadow.col-xs-4
						#confessor_name
							.userdp
								- if !tc.amitian.profilepic?
									-if tc.amitian.gender == 'Male'
										=image_tag ('93.svg')
									-else 
										=image_tag('manager_photo.svg')
								-else
									=link_to image_tag(tc.amitian.profilepic), tc.amitian 
							.username
								=link_to tc.amitian.fullname , amitian_path(tc.amitian) 
								%p= time_ago_in_words(tc.created_at)+' ago'
						= auto_link(simple_format(tc.confession[0..50]))
						.topconfessimg.thumbail
							- if tc.confessionimage?
								=link_to image_tag(tc.confessionimage) , tc 
							-else
								=link_to image_tag('confessions.jpg') , tc 

						.like_unlike_div{id: "like_#{tc.id}"}
							= render 'like_unlike' , c: tc
						%hr
				
	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head Most Hated Confessions
		.panel-body
			.topconfessions
				-@hatedconfessions.each do |tc|
					.singletopconfession.col-sm-3.shadow.col-xs-4
						#confessor_name
							.userdp
								- if !tc.amitian.profilepic?
									-if tc.amitian.gender == 'Male'
										=image_tag ('93.svg')
									-else 
										=image_tag('manager_photo.svg')
								-else
									=link_to image_tag(tc.amitian.profilepic), tc.amitian 
							.username
								=link_to tc.amitian.fullname , amitian_path(tc.amitian) 
								%p= time_ago_in_words(tc.created_at)+' ago'
						= auto_link(simple_format(tc.confession[0..50]))
						.topconfessimg.thumbail
							- if tc.confessionimage?
								=link_to image_tag(tc.confessionimage) , tc 
							-else
								=link_to image_tag('confessions.jpg') , tc 

						.like_unlike_div{id: "like_#{tc.id}"}
							= render 'like_unlike' , c: tc
						%hr
	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head Top Anonymous List 
		.panel-body
			.topconfessions
				-@topanonyconfession.each do |tc|
					.singletopconfession.col-sm-3.shadow.col-xs-4
						#confessor_name
							.userdp
								- if !tc.amitian.profilepic?
									-if tc.amitian.gender == 'Male'
										=image_tag ('93.svg')
									-else 
										=image_tag('manager_photo.svg')
								-else
									=link_to image_tag(tc.amitian.profilepic), tc.amitian 
							.username
								=link_to tc.amitian.fullname , amitian_path(tc.amitian) 
								%p= time_ago_in_words(tc.created_at)+' ago'
						= auto_link(simple_format(tc.confession[0..50]))
						.topconfessimg.thumbail
							- if tc.confessionimage?
								=link_to image_tag(tc.confessionimage) , tc 
							-else
								=link_to image_tag('confessions.jpg') , tc 

						.like_unlike_div{id: "like_#{tc.id}"}
							= render 'like_unlike' , c: tc
						%hr

	.margin
	.margin
	.h1.text-center.grey Keep calm and find your connection
	.margin
	.margin
	#moreevent
		.scrollmenu.shadow
			.top_sug_layer.clearfix
				.left{'style':'font-size:16px;font-weight: 800;'}
					- if @friendships.count != 0
						- if @friendships.count > 1
							= @friendships.first.amitian.fullname
							and 
							= @friendships.count-1
							others found their match past week
						-elsif @friendships.count == 1
							= @friendships.first.amitian.fullname+" "

						found a match this past week
					-else
						.alert.alert-info
							No Recent Matches Found
			%hr
			.sugdiv.clearfix
				-@friendships.each do |sug|
					=#change this to something else
					#single_suggestion2.shadow
						%table
							%tbody
								%tr
									%td
										.text-center=image_tag sug.amitian.profilepic , class: 'img-rounded'
								%tr
									%td{'style':'height:10px;'}
								%tr
									%td
										.text-center=link_to sug.amitian.fullname , sug , 'style':' font-weight: 600;'
								%tr
									%td
										%small.grey
											.text-center= '#'+sug.amitian.nickname
								%tr
									%td{'style':'height:10px;'}

								%tr
									%td.text-center
	.margin
	.panel.panel-default
		.panel-heading
			.panel-title
				.club_about_head Find your own Match
		.panel-body
			-if @interest == 'Male'
				.container-fluid
					-@male.each do |male|
						.matchimage.col-sm-2.thumbnail
							-if !male.profilepic?				
								=link_to image_tag('93.svg') , male ,'title': "#{male.fullname}"
							-else
								=link_to image_tag(male.profilepic), male ,'title': "#{male.fullname}" 
								

							
			-elsif @interest == 'Female'
				.container-fluid	
					-@female.each do |female|
						.matchimage.col-sm-2.thumbnail
							-if !female.profilepic?				
								=link_to image_tag('manager_photo.svg') , female,'title': "#{female.fullname}" 
							-else
								=link_to image_tag(female.profilepic), female,'title': "#{female.fullname}" 
							
	.lead Show all the categories