#events_create.modal.fade.m{'tabindex':-1 , 'role':'dialog','aria-labelledby':'aboutmodal'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content
			= form_for @event do |f|
				- if @event.errors.any? 
					-@event.errors.full_messages.each do |message|
						.alert.alert-info
							%li= message
				= hidden_field_tag :club_id , @club.id
				.input_group
					= f.label :Name
					=f.text_field :eventtheme
				.input_group
					= f.label :Location
					=f.text_field :location
				.input_group
					= f.label :StartTime
					=f.datetime_local_field :start
				.input_group
					= f.label :EndTime
					=f.datetime_local_field :endtime
				.input_group
					= f.label :AboutEvent
					=f.text_area :description
				.input_group
					=f.file_field :event_themepic
				.input_group
					= f.label :department
					=f.text_field :department
				.input_group
					=f.label :niche
					=f.select :niche, options_for_select([['Entertainment','Entertainment'],['Dance','Dance'],['Technical','Technical'],['Music' , 'Music'] ,['Party','Party'],['Fest','Fest'],['Fashion','Fashion'] , ['Drama','Drama'], ['Others','Others']]) ,{'class':'form-control'}
				.input-group
					=f.submit "Create Event" , class:'btn btn-primary'
				

