#index_main_div
	.container{'style':'margin-top: 20px;'}
		#gallery_div.col-sm-7.col-xs-12
			#inner_gallery_border.white.shadow
				#galleryone.innergal.g1.shadow{'data-target':'#gallery_show_modal' , 'data-toggle':'modal'}
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g1, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail' 
				#gallerytwo.innergal.g2.shadow{'data-target':'#gallery_show_modal' , 'data-toggle':'modal'}
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g2, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail'
				#gallerythree.innergal.g3.shadow
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g3, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail'
				#galleryfour.innergal.g4.shadow
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g4, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail'
				#galleryfive.innergal.g5.shadow
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g5, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail'
				#gallerysix.innergal.g6.shadow
					- if current_amitian.gallery != nil
						= image_tag current_amitian.gallery.g6, 'class':'thumbnail' 
					-else
						= image_tag ('avatar.png'), 'class':'thumbnail'
		.col-sm-4.col-xs-12
			#form{'style':'margin-top: 25px;'}
				=render 'create'